
.create-student{
    background-color: lightslategray;
    min-height: 87.5vh;
    width: 100vw;
}

.form-container{
    margin: 0.5vw 8vw;
    padding: 1vw 2vw 1vw;
    background-color: #fff;
    border-radius: 10px;
}
.form-container .head{
    background-color: rgb(12, 141, 59);
    border-radius: 10px;
    color: white;
}
