.update-container{
    position: relative;
    top: 50px;
    padding: 20px 50px;
    background-color: transparent;
    border-radius: 10px;
    margin: 0 20vw;
}

.update-container .heading-container{
    background-color: rgb(0, 129, 4);
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
}
.update-container .update-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.553);
    border-radius: 10px;
    padding: 20px 0 50px;
}
.update-input{
    padding: 12px 10px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1em;
    min-width: 400px;
    background-color: transparent;
}
.update-btn{
    background-color: rgb(0, 118, 0);
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 20px;
    color: white;
    font-size: 1.05em;
    letter-spacing: 0.05em;
    font-weight: 400;
}